<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1 class="center-text">Read Wikipedia Articles Without Squinting!</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form class="form" name="url" action="." method="post">
        <img class="add-icon" src="../static/images/addIcon.svg">
        <input class="link-input" placeholder="Copy and paste Wikipedia article title here" name="wikiTitle" type="text">
        <button class="go-button">Go</button>
    </form>


    <h1> NOTES AND REMINDERS </h1>
    <ul>
        <li>
            Use some sort of Natural Language Processing (NLP) to automatically highlight important facts/information in the Wikipedia article
        </li>
        <li>
            Add a navigation tab on the side that opens only when cursor goes near the left side of the screen
            <ul>
                <li>
                    This navigation tab has all the headings that are indented accordingly
                </li>
            </ul>
        </li>
    </ul>
</body>
</html>
